@use "../Responsive.scss" as Device;

.container {
    @include Device.Responsive(mobile) {
      height: 1px;
      background-color: gray;
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

