@use "../Responsive.scss" as Device;

.container {
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
}

.title1 {
  font-size: 2.3em;
  letter-spacing: 2px;
}

.container2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container2 div {
  text-align: center;
}


.men {

}

.wemen {

  margin-top: 30px;


}

.middle {
  background-color: gray;
  display: none;

}

.container2Title {
  font-weight: bold;
  font-weight: 1.5em;
}

.title2 {
  font-size: 1.2em;
}

