@use "../Responsive.scss" as Device;

.container {
    @include Device.Responsive(mobile) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
}

.image {
  height: 100vh;
}
