@use "../Responsive.scss" as Device;

.container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.6em;
}

.asistiras {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textfield {
  display: flex;
  justify-content: center;
  @include Device.Responsive(mobile) {
  }
}

.asistirasTitle {
  font-size: 1.3em;
  margin-left: 20px;
}

.radioGroup {
  margin-left: 30px;
  margin-top: 20px;
}

.input {
  width: 30%;
  margin-top: 20px;
  @include Device.Responsive(mobile) {
    width: 90%;
    margin-top: 20px;
  }
}

.button {
  width: 30%;
  margin-top: 20px;
  @include Device.Responsive(mobile) {
    width: 90%;
    margin-top: 20px;
  }
}
