@use "../Responsive.scss" as Device;

.container {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
  font-size: 2.5em;

}

.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px;
  text-align: center;
  font-size: 1em;
}



